*{
    margin: 0;
    padding: 0;
}
body{
    color: hsl(192, 100%, 9%);
    font-size: 18px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

/* TITLE SECTION */
.first-section{
    background-image: url(images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: hsl(193, 100%, 96%);
}
.navbar{
    padding: 20px 5px 0;
}
.btn{
    background-color: white;
    font-weight: 700;
    font-size: 14px;
    border-radius: 50px;
    padding: 5px 25px;
}
.btn:hover{
    background-color: rgba(255, 255, 255, 0.867);
    color: hsla(192, 100%, 9%, 0.568);
}
.second-container{
    padding: 80px 35px 40px;
}

h1{
    font-size: 25px;
    line-height: 1.5;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}
p{
    font-size: 16px;
}
.start-btn{
    border-radius: 50px;
    color: white;
    border: 0;
    background-color: hsl(322, 100%, 66%);
    padding: 10px 55px;
    font-size: 13px;
    font-weight: 700;
    margin: 20px 0 70px;
}
.start-btn:hover{
    background-color: hsla(322, 100%, 66%, 0.85);
    color: rgba(255, 255, 255, 0.85);
}

/* MIDDLE SECTION */
#body-section{
    background-color: rgba(245, 244, 244, 0.327);
    padding: 50px 0 20px;
}
.middle-containers{
    background-color: white;
    margin: 0 20px 40px;
    border-radius: 20px;
    padding: 45px 35px 30px;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    margin: 50px 0 20px;
}
.middle-p{
    font-size: 14px;
    color: hsl(208, 11%, 55%);
}
.btn-container{
    background-color: white;
    margin: 0 15px 0;
    border-radius: 20px;
    padding: 30px 15px 0;
    position: relative;
    z-index: 1;
    top: 85px;
}
h3{
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.last-btn{
    margin-bottom: 30px;
    padding: 10px 45px;
}

/* FOOTER SECTION */
#footer{
    background-color: hsl(192, 100%, 9%);
    color: white;
    text-align: left;
    padding: 130px 20px 30px;
}

.contact-us{
    padding: 30px 0 40px;
}
.address{
    display: flex;
}
.footer-p{
    display: inline-block;
    font-size: 16px;
    padding-left: 20px;
    width: 80%;
}

.hover-p:hover{
    text-decoration: underline;
}

.icon-container{
    text-align: center;
    color: white;
    padding-bottom: 10px;
}
.icon{
    margin: 0 10px 30px 0;
    
}
#copyright{
    font-size: 13px;
}




@media (min-width: 769px){

    /* BODY SECTION */
    .first-section{
        background-image: url(images/bg-hero-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: hsl(193, 100%, 96%);
        height: 700px;
    }
    .navbar img{
        width: 200px;
    }
    .navbar{
        padding-top: 50px;
    }
    .btn{
        background-color: white;
        font-weight: 700;
        font-size: 13px;
        border-radius: 50px;
        padding: 10px 55px;
    }
    .start-btn{
        padding: 15px 55px;
        
    }
    .second-container{
        padding: 80px 35px 0;
        display: inline-block;
        text-align: left;
        margin-left: 50px;
    }
    #mockup{
        width: 700px;
        position: absolute;
        right: 100px;
        top: 150px;
    }
    h1{
        font-size: 40px;
        width: 35%;
        line-height: 1.5;
        margin-bottom: 30px;
        font-family: 'Poppins', sans-serif;
        padding-top: 50px;
    }
    p{
        font-size: 17px;
        width: 38%;
    }

    /* MIDDLE SECTION */
    #grow{
        float: right;
        width: 370px;
    }
    #flow{
        float: left;
        width: 400px;
    }
    #body-section{
        background-color: rgba(245, 244, 244, 0.327);
        padding: 120px 0 20px;
    }
    .middle-containers{
        background-color: white;
        margin: 0 120px 40px;
        border-radius: 20px;
        padding: 45px 35px 30px 150px;
        height: 400px;
    }
    .flow-container{
        display: flex;
        padding-bottom: 50px;
    }
    .middle-center{
        margin-left: 160px;
    }
    h2{
        font-family: 'Poppins', sans-serif;
        font-size: 27px;
        margin: 50px 0 20px;
        text-align: left;
        padding-top: 40px;
    }
    .middle-p{
        font-size: 18px;
        color: hsl(208, 11%, 55%);
        text-align: left;
        line-height: 1.5;
        width: 50%;
    }
    .flow-p{
        width: 100%;
    }
    .btn-container{
        margin: auto;
        width: 50%;
        padding: 50px 10px 15px;
        top: 100px;
    }
    h3{
        font-size: 30px;
    }   
    .last-btn{
        font-size: 18px;
        padding: 20px 90px;
        margin-top: 30px;
    } 

    /* FOOTER SECTION */
    .last-contact{
        display: inline-block;
        width: 19%;
        padding-top: 30px;
    }
    .hover-p{
        width: 100%;
        font-size: 15px;
    }
    .contact-us{
        display: inline-block;
        width: 40%;
    }
    #footer{
        padding: 200px 120px 60px;
    }
    .footer-p{
        width: 70%;
        font-size: 15px;
    }
    .icon-container{
        display: inline-block;
        padding-top: 30px;
        text-align: left;
    }
    #copyright{
        width: 100%;
        padding-top: 150px;
        font-size: 12px;
    }
    .lastbody{
        display:flex;
        margin-top: 15px;
    }
    #logo-copy{
        width: 250px;
    }
    .phone-no{
        margin-top: 10px;
    }
    .email{
        margin-top: 10px;
    }
}
